.form-content {
	.card-title {
		font-size: 1.6em;
		margin-bottom: 0;
		background-color: darken(#2fb4bd, 15%);
		color: #fff;

		// $default-color
		h3 {
			// display: inline-block;
			// background-color: $default-color;
			// padding: 0.3em 1em ;
			color: #fff;
			// margin-bottom: 0;
			// &::after {
			// 	content: '';
			// 	width: 150px;
			// 	height: 5px;
			// 	background: $primary;
			// 	position: absolute;
			//   left:calc(50% - 75px);
			// 	top:2em;
			// }
		}

		&::before {
			display: none !important;
		}


	}

	.list-result {
		font-size: 1.2em;
		margin-bottom: 1em;
	}
	.btn{
		width: 200px;
		font-size: 1.3em;
		padding: 0.7em;
		margin: 0 0.5em;
	}
	.card-search{
		background:linear-gradient(180deg, rgba(245, 251, 250, 0.855625) 17.19%, rgba(226, 244, 241, 0.58) 100%) !important; 
	}
	.text-primary-deep{
		color: darken(#2fb4bd, 15%);
	}
}

.card-form {

	margin: 5px;
	box-shadow: -2px 1px 8px rgba(0, 0, 0, 0.1);
border: 1px solid #ccc;

.btn.btn-phoneNum{
	font-size: 14px !important;
	border-radius: 0.25em;
	height: 45px;
}

.form-text-size{
	font-size: 14px;
}

// .card-body {
// 	position: relative;
// &::after{
// 	position: absolute;
// 	content: '';
// 	width: 94%;
// 	height: 2px;
//     left: 3%;
// 	background: #a9cdd0;
// }
// }
.table-title-style{
	font-size: 16px ;
	color: $default-color ;
	background: #e4f1f2;
}
	
}


.page-title {
	span {
		font-size: 2.2em;
		color: $default-color;
	}
}

.title-style {
	font-size: 1.9em;
	// color: darken(  #2fb4bd, 15%);
	color: $default-color;
	position: relative;
	padding:0 0.5em;
	padding-bottom: 0.2em;
	border-bottom:3.5px solid #a9cdd0;
	// &::before{
	// 	content: '';
	// 	height: 40px;
	// 	width: 10px;
	// 	background: #000;
	// 	position: absolute;
	// }
	// font-size: 1.6em;
	// background-color:darken(  #2fb4bd, 15%);
	// color: #fff;
	// padding: 0.5em 3em;
	// margin-left: 1em;
	// border-radius: 0.25em;
	// position: relative;
	// &::before{
	// 	content: '';
	// 	position: absolute;
	// 	height: 1px;
	// 	width: 30px;
	// 	background: #fff;
	// 	top: 23px;
	// 	left: 20px;
	// }
	// &::after{
	// 	content: '';
	// 	position: absolute;
	// 	height: 1px;
	// 	width: 30px;
	// 	background: #fff;
	// 	top: 23px;
	// 	right: 20px;
	// }
	}
.form-title{
	margin-left: 1.5em;
	font-size: 1.8em;
}
.btn.btn-danger{
	background: linear-gradient(180deg, rgba(245, 122, 115, 0.9) 0%, rgba(222, 90, 72, 1) 100%) !important;
}	
.btn.btn-info{
	background: linear-gradient(180deg, rgba(78 ,143, 161 ,0.9) 0%, rgba(10, 88, 126, 1) 100%)!important;
}	
.btn-result{
color: $default-color;
&:hover , &:active, &:focus{
	color: $default-color !important;
}
}
.table-a-style{
	text-decoration: underline;
&:hover, &:active, &:focus{
	color: #2fb4bd;
	text-decoration: underline;
}
}

.bg-primary-light{
	background-color: #e4f1f2;
}